{% extends "base.html" %} {% block content %} {{ user_id|json_script:"user-id"}}
{% include "components/chat-box.html" with voice_chat=True %}
<script>
  function toggleTheme() {
    const root = document.documentElement;
    const currentTheme = root.getAttribute("data-theme");
    const newTheme = currentTheme === "dark" ? "light" : "dark";
    root.setAttribute("data-theme", newTheme);
    localStorage.setItem("theme", newTheme);
  }

  // Set initial theme from localStorage or default to dark
  document.addEventListener("DOMContentLoaded", () => {
    const savedTheme = localStorage.getItem("theme") || "dark";
    document.documentElement.setAttribute("data-theme", savedTheme);
  });

  const userID = JSON.parse(document.getElementById("user-id").textContent);

  const ws_scheme = window.location.protocol === "https:" ? "wss://" : "ws://";

  const chatSocket = new WebSocket(
    ws_scheme + window.location.host + "/ws/voice-chat/"
  );

  const matchSound = document.getElementById("match-sound");
  matchSound.volume = 0.3;

  const openMediaDevices = async (constraints) => {
    return await navigator.mediaDevices.getUserMedia(constraints);
  };
  async function handleChatMessage(data) {
    const message = data.message;
    const user = data.user;
    const messageUserID = data.user_id;
    const event = data.event;
    const chat_color = data.chat_color;

    switch (event) {
      case "message":
        document.querySelector(
          "#chat-messages"
        ).innerHTML += `<div class="message-container">
                <span class="user-name" style="color: ${chat_color}">${user}:</span>
                <span class="message">${message}</span>
              </div>`;
        break;
      case "join":
        matchSound.play();
        document.querySelector(
          "#chat-messages"
        ).innerHTML += `<div class="system-message"><span style="color: ${chat_color}">${user}</span> joined the chat</div>`;
        document.querySelector(
          "#status"
        ).innerHTML = `You were paired, say hi!`;

        await makeCall(messageUserID);
        break;
      case "leave":
        matchSound.play();
        document.querySelector(
          "#chat-messages"
        ).innerHTML += `<div class="system-message"><span style="color: ${chat_color}">${user}</span> left the chat</div>`;
        document.querySelector("#status").innerHTML = `${user} left the chat`;
        break;
      case "searching":
        document.querySelector("#status").innerHTML = "Searching...";
        break;
      case "image":
        const imgContainer = document.createElement("div");
        imgContainer.className = "message-container";
        imgContainer.innerHTML = `<span class="user-name" style="color: ${chat_color}">${user}:</span>
              <img src="${window.location.origin}${message}" style="max-width: 300px; max-height: 300px; object-fit: contain;"></img>`;
        document.querySelector("#chat-messages").appendChild(imgContainer);
        const img = imgContainer.querySelector("img");
        img.onload = function () {
          const chatLog = document.querySelector("#chat-messages");
          chatLog.scrollTop = chatLog.scrollHeight;
        };
        break;
    }

    const chatLog = document.querySelector("#chat-messages");
    if (event !== "image") {
      chatLog.scrollTop = chatLog.scrollHeight;
    }
  }

  let localAudioTrack;

  async function makeCall(messageUserID) {
    const amCaller = userID != messageUserID;
    const configuration = {
      iceServers: [
        { urls: "stun:stun.l.google.com:19302" },
        { urls: "stun:stun1.l.google.com:19302" },
        { urls: "stun:stun3.l.google.com:3478" },
        { urls: "stun:stun3.l.google.com:19302" },
      ],
    };
    const peerConnection = new RTCPeerConnection(configuration);

    let pendingCandidates = [];
    let remoteDescriptionSet = false;

    chatSocket.onmessage = async (e) => {
      const data = JSON.parse(e.data);

      console.log("on message is ranj", data);

      if (data?.answer && amCaller) {
        await peerConnection.setRemoteDescription(data.answer);
        remoteDescriptionSet = true;

        for (const candidate of pendingCandidates) {
          console.log("adding buffer candidates");
          await peerConnection.addIceCandidate(candidate);
        }
        pendingCandidates = [];
      }

      if (data?.offer && !amCaller) {
        console.log("got the offer");
        await peerConnection.setRemoteDescription(data.offer);
        remoteDescriptionSet = true;

        const answer = await peerConnection.createAnswer();
        await peerConnection.setLocalDescription(answer);

        chatSocket.send(
          JSON.stringify({ answer: peerConnection.localDescription })
        );

        for (const candidate of pendingCandidates) {
          console.log("adding buffer candidates");
          await peerConnection.addIceCandidate(candidate);
        }
        pendingCandidates = [];
      }

      if (data?.iceCandidate) {
        if (remoteDescriptionSet) {
          try {
            console.log("adding candidates");

            await peerConnection.addIceCandidate(data.iceCandidate);
          } catch (e) {
            console.error("Error adding received ICE candidate", e);
          }
        } else {
          pendingCandidates.push(data.iceCandidate);
        }
      }

      await handleChatMessage(data);
    };

    const remoteAudio = new Audio();
    remoteAudio.autoplay = true;

    peerConnection.addEventListener("track", (event) => {
      const [remoteStream] = event.streams;
      remoteAudio.srcObject = remoteStream;
    });

    peerConnection.onconnectionstatechange = (event) => {
      if (peerConnection.connectionState === "connected") {
        console.log("WE GOT CONNECTED");
      }
    };

    let stream;

    try {
      stream = await openMediaDevices({ video: false, audio: true });
    } catch (error) {
      console.error("Error accessing media devices.", error);
    }

    stream.getAudioTracks().forEach((track) => {
      peerConnection.addTrack(track, stream);
    });
    localAudioTrack = stream.getAudioTracks()[0];

    peerConnection.addEventListener("icecandidate", (event) => {
      if (event.candidate) {
        chatSocket.send(
          JSON.stringify({ "new-ice-candidate": event.candidate })
        );
      }
    });

    if (amCaller) {
      const offer = await peerConnection.createOffer();
      await peerConnection.setLocalDescription(offer);

      chatSocket.send(
        JSON.stringify({ offer: peerConnection.localDescription })
      );
    }
  }

  chatSocket.onmessage = async (e) => {
    const data = JSON.parse(e.data);
    const message = data.message;
    await handleChatMessage(data);
  };

  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
  };

  document.querySelector("#next-person-btn").onclick = function (e) {
    window.location.reload();
  };

  document.querySelector("#go-back-btn").onclick = function (e) {
    window.history.back();
  };

  document.querySelector("#chat-message-input").focus();
  document.querySelector("#chat-message-input").onkeyup = function (e) {
    if (e.key === "Enter") {
      document.querySelector("#chat-message-submit").click();
    }
  };

  document.querySelector("#chat-message-submit").onclick = function (e) {
    const messageInputDom = document.querySelector("#chat-message-input");
    const message = messageInputDom.value;
    if (message.trim()) {
      chatSocket.send(
        JSON.stringify({
          message: message,
          type: "message",
        })
      );
      messageInputDom.value = "";
    }
  };

  document.getElementById("myFile").addEventListener("change", function (e) {
    if (this.files && this.files[0]) {
      const formData = new FormData();
      formData.append("filename", this.files[0]);
      formData.append(
        "csrfmiddlewaretoken",
        document.querySelector("[name=csrfmiddlewaretoken]").value
      );

      fetch("{% url 'upload_image'%}", {
        method: "POST",
        body: formData,
        headers: {
          "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]")
            .value,
        },
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.file) {
            chatSocket.send(
              JSON.stringify({
                message: data.file,
                type: "image",
              })
            );
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
  });

  function toggleMic() {
    const micToggle = document.getElementById("mic-toggle");
    const isMuted = micToggle.getAttribute("data-muted") === "true";
    if (localAudioTrack) {
      localAudioTrack.enabled = isMuted;
    }

    if (isMuted) {
      micToggle.innerHTML = `
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="24px" height="24px">
            <path
              d="M192 0C139 0 96 43 96 96l0 160c0 53 43 96 96 96s96-43 96-96l0-160c0-53-43-96-96-96zM64 216c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40c0 89.1 66.2 162.7 152 174.4l0 33.6-48 0c-13.3 0-24 10.7-24 24s10.7 24 24 24l72 0 72 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-48 0 0-33.6c85.8-11.7 152-85.3 152-174.4l0-40c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40c0 70.7-57.3 128-128 128s-128-57.3-128-128l0-40z"
            />
          </svg>
          `;
      micToggle.setAttribute("data-muted", "false");
      matchSound.volume = 0.3;
    } else {
      micToggle.innerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="24px" height="24px">
              <path
                d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L472.1 344.7c15.2-26 23.9-56.3 23.9-88.7l0-40c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40c0 21.2-5.1 41.1-14.2 58.7L416 300.8 416 96c0-53-43-96-96-96s-96 43-96 96l0 54.3L38.8 5.1zM344 430.4c20.4-2.8 39.7-9.1 57.3-18.2l-43.1-33.9C346.1 382 333.3 384 320 384c-70.7 0-128-57.3-128-128l0-8.7L144.7 210c-.5 1.9-.7 3.9-.7 6l0 40c0 89.1 66.2 162.7 152 174.4l0 33.6-48 0c-13.3 0-24 10.7-24 24s10.7 24 24 24l72 0 72 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-48 0 0-33.6z"
              />
            </svg>
          `;
      micToggle.setAttribute("data-muted", "true");
      matchSound.volume = 0;
    }
  }
</script>
{% endblock %}
