<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat Rooms</title>
  </head>
  <body>
    <form method="POST" action="{% url 'room' %}">
      {% csrf_token %} What chat room would you like to enter?<br />
      <input id="room-name-input" name="room_name" type="text" size="100" /><br />
      Enter your username<br />
      <input
        id="room-username-input"
        name="username"
        type="text"
        size="100"
      /><br />
      <button id="room-name-submit" type="submit">Button</button>
    </form>
  </body>
</html>
