name: Deploy Project on push

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: SSH into server & deploy
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/meet-and-chat/

            echo "Pulling latest changes..."
            git pull

            echo "Rebuilding and starting..."
            docker compose up --build -d

            echo "Deployment completed!"
